h1 {
  font-family: sans-serif, monospace;
  font-size: 3vw;
}

p {
  font-family: sans-serif, monospace;
  font-size: 1vw;
}



.b {
  font-weight: bold;
}

.i {
  font-style: italic;
}

.u {
  font-decoration: underline;
}

.c {
  text-align: center;
}

